<nav class="ui stackable menu">
  <div class="ui container">
    <a href="/" class="header item" id="home_tab">
      <img class="logo" src="/images/letter-b.png">
    </a>
    <%= link "Items", to: Routes.item_path(@conn, :index), method: :get, class: "item", id: "items_tab" %>
    <a class="item">Testimonials</a>
    <div class="right menu">
      <%= if Biddy.Accounts.get_current_user(@conn) do %>
        <div class="item">
          <span class="currentUserMessage">Logged in as: <span class="uemail"> <%= Biddy.Accounts.get_current_user(@conn).email %></span></span>
        </div>
        <%= link raw(~s'<i class="sign out alternate icon"></i>Logout'), to: "/logout", class: "item" %>
      <% else %>
        <%= link raw(~s'<i class="sign in alternate icon"></i>Login'), to: Routes.session_path(@conn, :new), class: "item", id: "navbar_login" %>
      <% end %>
    </div>
  </div>
</nav>
