<h1>Homepage</h1>
<%= link "Login", to: Routes.session_path(@conn, :new), class: "ui basic button" %>
<br>
<br>
<p>Don't have an account??</p>
<br />
<%= link raw(~s'<i class="user outline icon"></i>Sign up'), to: Routes.user_path(@conn, :new), class: "ui pink tiny button" %>
<br>
<br>
<hr>
<p> would you like to check out the protected page? </p>
<p> simply click the button below </p>
<%= link "protected resource", to: "/protected", class: "ui button" %>
