<h1>Listing Items</h1>
<table class="ui basic table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Listed at</th>
      <th>Ends at</th>
      <th>Highest Bid </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= for item <- @items do %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= format_date(item.inserted_at) %></td>
        <td><%= format_date(item.ends_at) %></td>
        <td><%= if item.bids do %>
            <%= Number.Currency.number_to_currency(get_highest_bid(item.bids).amount) %>
          <% else %>
            0
          <% end %>
        </td>
        <td>
          <%= link "View more", to: Routes.item_path(@conn, :show, item), class: "ui tiny primary button" %>
          <%# <%= link "Edit", to: Routes.item_path(@conn, :edit, item) %>
          <%# <%= link "Delete", to: Routes.item_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<span><%= link "New Item", to: Routes.item_path(@conn, :new), class: "ui primary button" %></span>
