<h1><%= @item.title %></h1>
<ul>
  <li>
    <strong>Description:</strong>
    <%= @item.description %>
  </li>
  <li>
    <strong>Listed at:</strong>
    <%= format_date(@item.inserted_at) %>
  </li>
  <li>
    <strong>Ends at:</strong>
    <%= format_date(@item.ends_at) %>
  </li>
</ul>
<div style="display: flex; flex-direction: row;">
  <div style="flex: 1">
    <h2>Current bids</h2>
    <div id="bids">
      <%= render_many @item.bids, BiddyWeb.BidView, "bid.html" %>
    </div>
    <%= for bid <- @item.bids do %>
    <% end %>
  </div>
  <div style="flex: 1">
    <%= if Biddy.Accounts.get_current_user(@conn) do %>
      <h2>Place your bid!</h2>
      <%= form_for @bid, Routes.item_bid_path(@conn, :create, @item), [class: "ui form"], fn f -> %>
      <%= if @bid.action do %>
        <div class="alert alert-danger">
          Unfortunately, there are errors in your
          submission. Please correct them below.
        </div>
      <% end %>
      <div class="ui right labeled input">
        <%= label f, :amount, "$", class: "ui label" %>
        <%= error_tag f, :amount %>
        <%= number_input f, :amount, placeholder: "Amount", id: "amount" %>
        <div class="ui basic label">.00</div>
      </div>
      <br />
      <%= submit "Submit", class: "ui primary button"%>
    <% end %>
  <% end %>
</div>
</div>
<div class="ui tiny buttons">
  <%= link "Edit", to: Routes.item_path(@conn, :edit, @item), class: "ui button" %>
  <div class="or"></div>
  <%= link "Back", to: Routes.item_path(@conn, :index), class: "ui positive button" %>
</div>
