/* Includes some default style for the starter application.
 * This can be safely deleted to start fresh.
 */

body {
  background-color: #fff;
}
.spacer-mr {
  margin-right: 20px;
}

.currentUserMessage {
  opacity: 0.5;
  font-size: 0.9rem;
}
.uemail {
  font-weight: bold;
  text-decoration: underline;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.help-block {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.ui.tiny.buttons {
  padding: 1rem;
  margin-top: 2rem;
}
