<br>
<div class="ui raised very padded text container segment">
  <div class="ui header">Edit Profile</div>
  <%= render "edit_form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>
  <br>
  <span><%= link "Back", to: Routes.user_path(@conn, :index), class: "ui basic button" %></span>
</div>
