<%= form_for @changeset, @action, [class: "ui form"], fn f -> %>
<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
  </div>
<% end %>
<!-- Display name -->
<div class="field">
  <%= label f, :display_name, class: "control-label" %>
  <div class="ui left icon input">
    <i class="user icon"></i>
    <%= text_input f, :display_name, class: "form-control", autofocus: "true", placeholder: "Display name" %>
  </div>
  <%= error_tag f, :display_name %>
</div>
<!-- Email -->
<div class="field">
  <%= label f, :email, class: "control-label" %>
  <div class="ui left icon input">
    <i class="mail icon"></i>
    <%= email_input f, :email, class: "form-control", placeholder: "Email address" %>
  </div>
  <%= error_tag f, :email %>
</div>
<!-- Favorites -->
<div class="field">
  <label>Favorites</label>
  <%= multiple_select(f, :favorites, [
      "Afghanistan": "AF",
      "Åland Islands": "AX",
      "Albania": "AL",
      "Algeria": "DZ",
      "American Samoa": "AS",
      "Andorra": "AD",
      "Angola": "AO",
      "Anguilla": "AI",
      "Antarctica": "AQ",
      "Antigua and Barbuda": "AG",
      "Argentina": "AR",
      "Armenia": "AM",
      "Aruba": "AW",
      "Australia": "AU",
      "Austria": "AT",
      "Azerbaijan": "AZ"
    ], class: "ui dropdown", id: "favoritePicker") %>
</div>
<%= error_tag f, :favorites %>
<!-- Password -->
<div class="field">
  <%= label f, :password_cofirmation, class: "control-label" %>
  <div class="ui left icon input">
    <i class="lock icon"></i>
    <%= password_input f, :password, class: "form-control", autocomplete: "false", placeholder: "Minimum 6 characters" %>
  </div>
  <%= error_tag f, :password %>
</div>
<div class="form-group">
  <%= submit "Submit", class: "ui pink fluid button" %>
</div>
<% end %>
