<div class="card-body">
  <%= form_for @changeset, @action, [class: "ui form"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
  <!-- Display name -->
  <div class="field">
    <%= label f, :display_name, class: "control-label" %>
    <div class="ui left icon input">
      <i class="user icon"></i>
      <%= text_input f, :display_name, class: "form-control", autofocus: "true", placeholder: "Display name" %>
    </div>
    <%= error_tag f, :display_name %>
  </div>
  <!-- /Display name -->
  <div class="field"> <!-- Email -->
    <%= label f, :email, class: "control-label" %>
    <div class="ui left icon input">
      <i class="mail icon"></i>
      <%= email_input f, :email, class: "form-control", placeholder: "Email address" %>
    </div>
    <%= error_tag f, :email %>
  </div>
  <!-- /Email -->
  <div class="field">
    <%= label f, :password, class: "control-label" %>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= password_input f, :password, class: "form-control", autocomplete: "false", placeholder: "Minimum 6 characters" %>
    </div>
    <%= error_tag f, :password %>
  </div>
  <div class="field">
    <%= label f, :password_confirmation, class: "control-label" %>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= password_input f, :password_confirmation, class: "form-control", autocomplete: "false" %>
    </div>
    <%= error_tag f, :password_confirmation %>
  </div>
  <br>
  <div class="form-group">
    <%= submit "Submit", class: "ui pink fluid button" %>
  </div>
<% end %>
<br>
<div class="ui message">
  <span class="spacer-mr">Already have an account?</span>
  <%= link raw(~s'<i class="sign in alternate icon"></i>Login'), to: Routes.session_path(@conn, :new), class: "ui pink tiny button" %>
</div>
</div>
