<h1>Listing Users</h1>
<table class="ui fixed single line celled table">
  <thead>
    <tr>
      <th>Display name</th>
      <th>Avatar</th>
      <th>Email</th>
      <th>Favorites</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr>
        <td><%= user.display_name %></td>
        <td><%= user.avatar %></td>
        <td><%= user.email %></td>
        <td><%= user.favorites %></td>
        <td>
          <%= link "Show", to: Routes.user_path(@conn, :show, user) %>
          <%= link "Edit", to: Routes.user_path(@conn, :edit, user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<span><%= link "Sign Up", to: Routes.user_path(@conn, :new), class: "ui primary button" %></span>
