<div class="ui raised very padded text container segment">
  <h2 class="ui pink image header">
    <img src="<%= Routes.static_path(@conn, "/images/letter-b.png") %>" class="image">
    <div class="content">
      Create a new account
    </div>
  </h2>
  <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>
</div>
