<h1>Show User</h1>

<ul>

  <li>
    <strong>Display name:</strong>
    <%= @user.display_name %>
  </li>

  <li>
    <strong>Avatar:</strong>
    <%= @user.avatar %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Password hash:</strong>
    <%= @user.password_hash %>
  </li>

  <li>
    <strong>Favorites:</strong>
    <%= @user.favorites %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
