<div class="ui raised very padded text container segment">
  <h2 class="ui pink image header">
    <img src="<%= Routes.static_path(@conn, "/images/letter-b.png") %>" class="image">
    <div class="content">
      Log-in to your account
    </div>
  </h2>
  <%= form_for @conn, Routes.session_path(@conn, :create), [as: :user, class: "ui large form"], fn f-> %>
  <div class="ui stacked segment">
    <div class="field">
      <%= label f, :email, class: "control-label" %>
      <div class="ui left icon input">
        <i class="mail icon"></i>
        <%= email_input f, :email, placeholder: "Email address", autofocus: "true" %>
      </div>
      <%= error_tag f, :email %>
    </div>
    <div class="field">
      <%= label f, :password, class: "control-label" %>
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <%= password_input f, :password, autocomplete: "false", placeholder: "Minimum 6 characters" %>
      </div>
      <%= error_tag f, :password %>
    </div>
    <div class="text-center">
      <%= submit "Log In", class: "ui pink fluid button" %>
    </div>
  </div>
<% end %>
<div class="ui message">
  <span class="spacer-mr">New to us?</span> <%= link raw(~s'<i class="user outline icon"></i>Sign up'), to: Routes.user_path(@conn, :new), class: "ui pink tiny button" %>
</div>
</div>
